<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.example.demoserver.game.bag.dao.BagMapper">

    <resultMap id="BaseResultMap" type="com.example.demoserver.game.bag.model.Bag">

        <id column="playerId" property="playerid" jdbcType="INTEGER"/>
        <result column="bagName" property="bagname" jdbcType="VARCHAR" />
        <result column="bagSize" property="bagsize" jdbcType="INTEGER"/>
        <result column="items" property="items" jdbcType="VARCHAR"/>

    </resultMap>

    <select id="selectBagByPlayerId" resultMap="BaseResultMap">
        select * from bag where playerId=#{playerId};
    </select>

    <insert id="insertBag">

        insert into(playerId,bagName,bagSize,items)
        values (
            #{playerId},#{bagName},#{bagSize},#{items}
        )

    </insert>
</mapper>